@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* font-family: 'Kanit', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* font-family: 'Caveat', cursive; */

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: rgb(202, 196, 196);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 4vw;
    padding-top: 50px;
    /* Letras maiusculas 
    text-transform: uppercase; */
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: 'Caveat', cursive;
    font-size: 2.2vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 70px;
}

section > p {
    padding-bottom: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(58, 58, 58);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.466);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.404);
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
    background-position: left top;
    background-size: cover;
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}